* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container .section1 {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.container .section2 {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
