.App {
  text-align: center;
  margin: 2%;
}
.input-field > input {
  height: 25px;
  font-size: large;
  margin: 1%;
  width: 15%;
}
.btn > button {
  width: 30%;
  height: 45px;
  font-family: cursive;
  font-weight: 300;
  font-size: large;
  background-color: #0b5ed7;
  color: white;
  border: none;
  border-radius: 2px;
}
.btn > button:hover {
  background: blue;
}
